In [1]:
import pandas as pd

y = pd.DataFrame([{'a':3,'b':'c'},{'a':4,'b':'test'}])
z = pd.DataFrame([{'a':3,'b':'c'},{'a':4,'b':'test'},{'a':3,'b':'c'},{'a':4,'b':'test'},{'a':3,'b':'c'},{'a':4,'b':'test'}])

In [4]:
#Import New Table

In [5]:
eng = juneau_connect()
rtable0_data_0_23_df = pd.read_sql_table('rtable0_data_0_23', eng)
rtable0_data_0_23_df

     age     sex     bmi  children smoker     region      charges
0     18    male  17.290         2    yes  northeast  12829.45510
1     63  female  32.200         2    yes  southwest  47305.30500
2     54    male  34.210         2    yes  southeast  44260.74990
3     27    male  30.300         3     no  southwest   4260.74400
4     50    male  31.825         0    yes  northeast  41097.16175
..   ...     ...     ...       ...    ...        ...          ...
245   20    male  27.930         0     no  northeast   1967.02270
246   31  female  23.600         2     no  southwest   4931.64700
247   45    male  28.700         2     no  southwest   8027.96800
248   44  female  23.980         2     no  southeast   8211.10020
249   62  female  39.200         0     no  southwest  13470.86000

[250 rows x 7 columns]

In [4]:
#Import New Table

In [5]:
eng = juneau_connect()
rtable0_data_0_22_df = pd.read_sql_table('rtable0_data_0_22', eng)
rtable0_data_0_22_df

     age     sex     bmi  children smoker     region      charges
0     19  female  27.900         0    yes  southwest  16884.92400
1     18    male  33.770         1     no  southeast   1725.55230
2     28    male  33.000         3     no  southeast   4449.46200
3     33    male  22.705         0     no  northwest  21984.47061
4     32    male  28.880         0     no  northwest   3866.85520
..   ...     ...     ...       ...    ...        ...          ...
245   54    male  30.020         0     no  northwest  24476.47851
246   60  female  38.060         0     no  southeast  12648.70340
247   24    male  35.860         0     no  southeast   1986.93340
248   19    male  20.900         1     no  southwest   1832.09400
249   29    male  28.975         1     no  northeast   4040.55825

[250 rows x 7 columns]

In [3]:
y

   a     b
0  3     c
1  4  test

In [4]:
a = y
b = z

In [5]:
d = a
e = b
f = y
g = z

In [6]:
h = d
i = e
j = f